## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstats

## SQLite
*.db
*.db-shm
*.db-wal

## IDE
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.ide/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Deploy
publish/
deploy.zip

## Secrets
appsettings.*.local.json
