@page
@{
    ViewData["Title"] = "TKG出荷検品";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/Login" />
</head>
<body>
    <p>リダイレクト中... <a href="/Login">ログインページへ</a></p>
</body>
</html>
